<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prueba login</title>
    <link rel="stylesheet" type="text/css" href="GestiónInventario_style.css">
    <style>
        body {
            display: flex;
        }

        .menu_secundario {
            flex: 0 0 200px; /* Ancho fijo de 200px */
            background-color: lightgray; /* Color de fondo para la columna del menú */
            padding: 10px;
        }

        .container {
            flex: 1; /* La tabla ocupa todo el espacio restante */
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>asd </h1>
</body>
</html>
